
/* Indent comments according to their depth. */

.ReplyToDepth-1 {
    padding-left: 2em;
}
.ReplyToDepth-1 .CommentForm {
    margin-left: -2em;
}

.ReplyToDepth-2 {
    padding-left: 4em;
}
.ReplyToDepth-2 .CommentForm {
    margin-left: -4em;
}

.ReplyToDepth-3 {
    padding-left: 6em;
}
.ReplyToDepth-3 .CommentForm {
    margin-left: -6em;
}

.ReplyToDepth-4 {
    padding-left: 8em;
}
.ReplyToDepth-4 .CommentForm {
    margin-left: -8em;
}

.ReplyToDepth-5 {
    padding-left: 10em;
}
.ReplyToDepth-5 .CommentForm {
    margin-left: -10em;
}

/* Reduce the indenting to single ems after 5 levels */
.ReplyToDepth-6 {
    padding-left: 11em;
}
.ReplyToDepth-6 .CommentForm {
    margin-left: -11em;
}

.ReplyToDepth-7 {
    padding-left: 12em;
}
.ReplyToDepth-7 .CommentForm {
    margin-left: -12em;
}

.ReplyToDepth-8 {
    padding-left: 13em;
}
.ReplyToDepth-8 .CommentForm {
    margin-left: -13em;
}

.ReplyToDepth-9 {
    padding-left: 14em;
}
.ReplyToDepth-9 .CommentForm {
    margin-left: -14em;
}

/* Stop indenting after 10 levels */
.ReplyToDepth-10plus {
    padding-left: 15em;
}
.ReplyToDepth-10 .CommentForm {
    margin-left: -15em;
}

